*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    mask-border-outset: 'Open-Sans', sans-serif;
}
    
 .contenedor{
    width: 500%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
 }